* {
    margin: 0;
    padding: 0;

}

#container {
    background-image: url('nature.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    /* font-family: ; */
}

.form-box {
    width: 20%;
    max-width: 400px;
    min-height: 300px;
    margin-bottom: 1%;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: -2px 5px 10px black;
}

.form-box h1 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

.form-box .underline {
    width: 25px;
    height: 5px;
    text-align: center;
    background: green;
    border-radius: 10px;
    margin: 10px auto 50px auto;
    transition: transform 0.5s;
}

.input-group {
    height: 180px;
}

.input-line {
    background-color: wheat;
    margin: 15px 0;
    align-items: center;
    border-radius: 10px;
    display: flex;
    max-height: 60px;
    transition: max-height 0.2s;
    overflow: hidden;
}

.input-line input {
    /* background-color: #999; */
    margin-top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border: beige;
    outline: 0;
    padding: 15px 15px;
    border-radius: 10px;
    /* cursor: pointer; */
}


.input-line i {
    margin-left: 5px;
    color: #999;
    border: #999;

}

form p {
    font-size: 12px;
    text-align: left;
    margin-top: -20px;
    cursor: pointer;
}

.btn-field {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
}

.btn-field button {
    flex-basis: 48%;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: background 0.3s;
}

button.disable {
    background-color: gray;
    color: #555;
}